In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
#groups
g84 = pd.read_csv('groups_84.csv', sep=';')
g84 = g84[g84.LANGUAGE_ID.str.contains('EL')]
g84=g84.rename(columns={'ID':'GROUP_ID'})
g84

,GROUP_ID,LANGUAGE_ID,ACRONYM,LABEL
6,GP0201,EL,S,Σοσιαλιστική Ομάδα
30,GP0202,EL,PPE,Ομάδα του Ευρωπαϊκού Λαϊκού Κόμματος (Χριστιαν...
54,GP0203,EL,ED,Ομάδα των Ευρωπαίων Δημοκρατών
78,GP0204,EL,COM,Κομμουνιστική ομάδα και Προσκείμενοι
102,GP0205,EL,L,Φιλελεύθερη και Δημοκρατική Ομάδα
126,GP0206,EL,RDE,Ομάδα Συνασπισμού των Ευρωπαίων Δημοκρατών
150,GP0207,EL,ARC,Ομάδα 'Ουράνιο Τόξο': Ομοσπονδία του Ευρωπαϊκο...
174,GP0208,EL,DR,Ομάδα των Κομμάτων της Ευρωπαϊκής Δεξιάς
198,NaN,EL,NI,Μη Εγγεγραμμένοι

In [5]:
#parties
p84 = pd.read_csv('parties_84.csv', sep=';')
p84 = p84[['DIVISION_ID','ID','ACRONYM','LABEL']].copy()
p84 = p84[p84.DIVISION_ID.str.contains('EL')]
p84 = p84.rename(columns={'ID':'PARTY_ID'})
p84

   DIVISION_ID PARTY_ID        ACRONYM                           LABEL
37          EL     EL01          PASOK  Panellinio Sosialistiko Kinima
38          EL     EL02             ND                 Nea Dhimokratia
39          EL     EL03            KKE      Kommunistiko Komma Elladas
40          EL     EL04         E.P.EN         Ethniki Politiki Enosis
41          EL     EL90  Other parties                   Other parties

In [6]:
omada84 = pd.read_csv('el_84.csv', sep=';')
omada84=omada84[['GROUP_ID','SEATS_TOTAL','SEATS_PERCENT_EU']].copy()
omada84

  GROUP_ID  SEATS_TOTAL  SEATS_PERCENT_EU
0   GP0201           10              2.30
1   GP0202            9              2.07
2   GP0203            0              0.00
3   GP0204            4              0.92
4   GP0205            0              0.00
5   GP0206            0              0.00
6   GP0207            0              0.00
7   GP0208            1              0.23
8      NaN            0              0.00

In [7]:
katataksh84 = pd.read_csv('katataksh_84.csv', sep=';')
katataksh84=katataksh84[['PARTY_ID','SEATS_TOTAL','GROUP_ID']].copy()
katataksh84

  PARTY_ID  SEATS_TOTAL GROUP_ID
0     EL01           10   GP0201
1     EL02            9   GP0202
2     EL03            4   GP0204
3     EL04            1   GP0208

In [8]:
df84=pd.merge(katataksh84, omada84, on='GROUP_ID', how='outer')
df84

  PARTY_ID  SEATS_TOTAL_x GROUP_ID  SEATS_TOTAL_y  SEATS_PERCENT_EU
0     EL01           10.0   GP0201             10              2.30
1     EL02            9.0   GP0202              9              2.07
2     EL03            4.0   GP0204              4              0.92
3     EL04            1.0   GP0208              1              0.23
4      NaN            NaN   GP0203              0              0.00
5      NaN            NaN   GP0205              0              0.00
6      NaN            NaN   GP0206              0              0.00
7      NaN            NaN   GP0207              0              0.00
8      NaN            NaN      NaN              0              0.00

In [9]:
df84=pd.merge(df84, g84, on='GROUP_ID', how='outer')
df84

,PARTY_ID,SEATS_TOTAL_x,GROUP_ID,SEATS_TOTAL_y,SEATS_PERCENT_EU,LANGUAGE_ID,ACRONYM,LABEL
0,EL01,10.0,GP0201,10,2.30,EL,S,Σοσιαλιστική Ομάδα
1,EL02,9.0,GP0202,9,2.07,EL,PPE,Ομάδα του Ευρωπαϊκού Λαϊκού Κόμματος (Χριστιαν...
2,EL03,4.0,GP0204,4,0.92,EL,COM,Κομμουνιστική ομάδα και Προσκείμενοι
3,EL04,1.0,GP0208,1,0.23,EL,DR,Ομάδα των Κομμάτων της Ευρωπαϊκής Δεξιάς
4,NaN,NaN,GP0203,0,0.00,EL,ED,Ομάδα των Ευρωπαίων Δημοκρατών
5,NaN,NaN,GP0205,0,0.00,EL,L,Φιλελεύθερη και Δημοκρατική Ομάδα
6,NaN,NaN,GP0206,0,0.00,EL,RDE,Ομάδα Συνασπισμού των Ευρωπαίων Δημοκρατών
7,NaN,NaN,GP0207,0,0.00,EL,ARC,Ομάδα 'Ουράνιο Τόξο': Ομοσπονδία του Ευρωπαϊκο...
8,NaN,NaN,NaN,0,0.00,EL,NI,Μη Εγγεγραμμένοι

In [10]:
df84=pd.merge(df84, p84, on='PARTY_ID', how='outer')
df84

,PARTY_ID,SEATS_TOTAL_x,GROUP_ID,SEATS_TOTAL_y,SEATS_PERCENT_EU,LANGUAGE_ID,ACRONYM_x,LABEL_x,DIVISION_ID,ACRONYM_y,LABEL_y
0,EL01,10.0,GP0201,10.0,2.30,EL,S,Σοσιαλιστική Ομάδα,EL,PASOK,Panellinio Sosialistiko Kinima
1,EL02,9.0,GP0202,9.0,2.07,EL,PPE,Ομάδα του Ευρωπαϊκού Λαϊκού Κόμματος (Χριστιαν...,EL,ND,Nea Dhimokratia
2,EL03,4.0,GP0204,4.0,0.92,EL,COM,Κομμουνιστική ομάδα και Προσκείμενοι,EL,KKE,Kommunistiko Komma Elladas
3,EL04,1.0,GP0208,1.0,0.23,EL,DR,Ομάδα των Κομμάτων της Ευρωπαϊκής Δεξιάς,EL,E.P.EN,Ethniki Politiki Enosis
4,NaN,NaN,GP0203,0.0,0.00,EL,ED,Ομάδα των Ευρωπαίων Δημοκρατών,NaN,NaN,NaN
5,NaN,NaN,GP0205,0.0,0.00,EL,L,Φιλελεύθερη και Δημοκρατική Ομάδα,NaN,NaN,NaN
6,NaN,NaN,GP0206,0.0,0.00,EL,RDE,Ομάδα Συνασπισμού των Ευρωπαίων Δημοκρατών,NaN,NaN,NaN
7,NaN,NaN,GP0207,0.0,0.00,EL,ARC,Ομάδα 'Ουράνιο Τόξο': Ομοσπονδία του Ευρωπαϊκο...,NaN,NaN,NaN
8,NaN,NaN,NaN,0.0,0.00,EL,NI,Μη Εγγεγραμμένοι,NaN,NaN,NaN
9,EL90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EL,Other parties,Other parties

In [11]:
df84=df84[['PARTY_ID','SEATS_TOTAL_x','GROUP_ID','SEATS_TOTAL_y','SEATS_PERCENT_EU','LABEL_x','LABEL_y']].copy()
df84

,PARTY_ID,SEATS_TOTAL_x,GROUP_ID,SEATS_TOTAL_y,SEATS_PERCENT_EU,LABEL_x,LABEL_y
0,EL01,10.0,GP0201,10.0,2.30,Σοσιαλιστική Ομάδα,Panellinio Sosialistiko Kinima
1,EL02,9.0,GP0202,9.0,2.07,Ομάδα του Ευρωπαϊκού Λαϊκού Κόμματος (Χριστιαν...,Nea Dhimokratia
2,EL03,4.0,GP0204,4.0,0.92,Κομμουνιστική ομάδα και Προσκείμενοι,Kommunistiko Komma Elladas
3,EL04,1.0,GP0208,1.0,0.23,Ομάδα των Κομμάτων της Ευρωπαϊκής Δεξιάς,Ethniki Politiki Enosis
4,NaN,NaN,GP0203,0.0,0.00,Ομάδα των Ευρωπαίων Δημοκρατών,NaN
5,NaN,NaN,GP0205,0.0,0.00,Φιλελεύθερη και Δημοκρατική Ομάδα,NaN
6,NaN,NaN,GP0206,0.0,0.00,Ομάδα Συνασπισμού των Ευρωπαίων Δημοκρατών,NaN
7,NaN,NaN,GP0207,0.0,0.00,Ομάδα 'Ουράνιο Τόξο': Ομοσπονδία του Ευρωπαϊκο...,NaN
8,NaN,NaN,NaN,0.0,0.00,Μη Εγγεγραμμένοι,NaN
9,EL90,NaN,NaN,NaN,NaN,NaN,Other parties

In [13]:
df84['year'] = 1984
df84

,PARTY_ID,SEATS_TOTAL_x,GROUP_ID,SEATS_TOTAL_y,SEATS_PERCENT_EU,LABEL_x,LABEL_y,year
0,EL01,10.0,GP0201,10.0,2.30,Σοσιαλιστική Ομάδα,Panellinio Sosialistiko Kinima,1984
1,EL02,9.0,GP0202,9.0,2.07,Ομάδα του Ευρωπαϊκού Λαϊκού Κόμματος (Χριστιαν...,Nea Dhimokratia,1984
2,EL03,4.0,GP0204,4.0,0.92,Κομμουνιστική ομάδα και Προσκείμενοι,Kommunistiko Komma Elladas,1984
3,EL04,1.0,GP0208,1.0,0.23,Ομάδα των Κομμάτων της Ευρωπαϊκής Δεξιάς,Ethniki Politiki Enosis,1984
4,NaN,NaN,GP0203,0.0,0.00,Ομάδα των Ευρωπαίων Δημοκρατών,NaN,1984
5,NaN,NaN,GP0205,0.0,0.00,Φιλελεύθερη και Δημοκρατική Ομάδα,NaN,1984
6,NaN,NaN,GP0206,0.0,0.00,Ομάδα Συνασπισμού των Ευρωπαίων Δημοκρατών,NaN,1984
7,NaN,NaN,GP0207,0.0,0.00,Ομάδα 'Ουράνιο Τόξο': Ομοσπονδία του Ευρωπαϊκο...,NaN,1984
8,NaN,NaN,NaN,0.0,0.00,Μη Εγγεγραμμένοι,NaN,1984
9,EL90,NaN,NaN,NaN,NaN,NaN,Other parties,1984

In [14]:
df84.sort_values(by='SEATS_TOTAL_x', ascending=False)
df84

,PARTY_ID,SEATS_TOTAL_x,GROUP_ID,SEATS_TOTAL_y,SEATS_PERCENT_EU,LABEL_x,LABEL_y,year
0,EL01,10.0,GP0201,10.0,2.30,Σοσιαλιστική Ομάδα,Panellinio Sosialistiko Kinima,1984
1,EL02,9.0,GP0202,9.0,2.07,Ομάδα του Ευρωπαϊκού Λαϊκού Κόμματος (Χριστιαν...,Nea Dhimokratia,1984
2,EL03,4.0,GP0204,4.0,0.92,Κομμουνιστική ομάδα και Προσκείμενοι,Kommunistiko Komma Elladas,1984
3,EL04,1.0,GP0208,1.0,0.23,Ομάδα των Κομμάτων της Ευρωπαϊκής Δεξιάς,Ethniki Politiki Enosis,1984
4,NaN,NaN,GP0203,0.0,0.00,Ομάδα των Ευρωπαίων Δημοκρατών,NaN,1984
5,NaN,NaN,GP0205,0.0,0.00,Φιλελεύθερη και Δημοκρατική Ομάδα,NaN,1984
6,NaN,NaN,GP0206,0.0,0.00,Ομάδα Συνασπισμού των Ευρωπαίων Δημοκρατών,NaN,1984
7,NaN,NaN,GP0207,0.0,0.00,Ομάδα 'Ουράνιο Τόξο': Ομοσπονδία του Ευρωπαϊκο...,NaN,1984
8,NaN,NaN,NaN,0.0,0.00,Μη Εγγεγραμμένοι,NaN,1984
9,EL90,NaN,NaN,NaN,NaN,NaN,Other parties,1984